@model BeanApp.Domain.Models.Bean

@{
    ViewData["Title"] = "Create";
}

<h1>Create Bean</h1>

<p style="color:red">*<span style="color:black">Required</span></p> 

<hr />
@using (Html.BeginForm("Create",
 "Beans",
 FormMethod.Post,
 new { enctype = "multipart/form-data" }))
{
    <br>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="BeanName" class="control-label"></label>
                    <span style="color:red">*</span>
                    <input asp-for="BeanName" class="form-control" />
                    <span asp-validation-for="BeanName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Aroma" class="control-label"></label>
                    <input asp-for="Aroma" class="form-control" />
                    <span asp-validation-for="Aroma" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Colour" class="control-label"></label>
                    <input asp-for="Colour" class="form-control" />
                    <span asp-validation-for="Colour" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CostPer100g" class="control-label"></label>
                    <span style="color:red">*</span>
                    <input asp-for="CostPer100g" class="form-control" />
                    <span asp-validation-for="CostPer100g" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateToBeShownOn" class="control-label"></label>
                    <span style="color:red">*</span>
                    <input asp-for="DateToBeShownOn" class="form-control" />
                    <span asp-validation-for="DateToBeShownOn" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image" for="file">Upload Image:</label>
                    <span style="color:red">*</span>
                    <br>
                    <input type="file" name="file" id="file" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    @ViewBag.Message
}


<div>
    <a asp-action="Index"><input type="submit" value="Back to List" class="btn btn-primary" /></a>
</div>

